<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>fast and serious</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: sans-serif;
        list-style: none;
        text-decoration: none;
        border-radius: 25px;
        border: none;
        outline: none;
    }
    body{
        background: #212121;
        color: white;
        display: grid;
        gap: 10vh;
    }
    header{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    h2,h1{
        text-align: center;
    }
    a,button{
        padding:1vh 2vw;
        font-weight: bold;
        border: none;
        cursor: pointer;
        color: white;
        border: 2px solid white;
    }
    a:hover, button:hover{
        background: white;
        color: #30303e;
    }
    section{
        display: grid;
        align-items: center;
        gap: 2vh;
    }
    section ul{
        display: grid;
        padding: 2vh 10vw;
        grid-template-columns: auto auto auto auto auto;
        gap: 2vw;
    }
    section ul li a{
        display: grid;
        transition: .3s;
        border-radius: 15px;
        gap: 1vh;
        font-size: 18pt;
        text-align: center;
    }
    section i{
        font-size: 40pt;
        text-shadow: 2px 2px 10px gray;
    }
    h2{
        font-size: 70pt;
    }
</style>
<body>