<header>
    <a href="/"><i class="fa-solid fa-house"></i></a>
    <a href="/about"><i class="fa-solid fa-address-card"></i></a>
    <a href="/contact"><i class="fa-solid fa-users"></i></a>
    <a href="/profile"><i class="fa-solid fa-user-tie"></i></a>
    <a href="/logout"><i class="fa-solid fa-right-from-bracket"></i></a>
</header>