<%- include('partials/h')  %> 
<h2><i class="fa-solid fa-rocket"></i> & 🗿</h2>
<section>
    <h1>Pilih Report anda</h1>
    <ul>
        <li><a href=""><i class="fa-solid fa-book"></i>Sales</a></li>
        <li><a href=""><i class="fa-solid fa-box"></i>Stok</a></li>
        <li><a href=""><i class="fa-solid fa-tags"></i>Pricelist</a></li>
        <li><a href=""><i class="fa-solid fa-gifts"></i>Promotion</a></li>
        <li><a href=""><i class="fa-solid fa-receipt"></i>Tax</a></li>
        <li><a href=""><i class="fa-solid fa-cart-shopping"></i>Purchase</a></li>
        <li><a href=""><i class="fa-regular fa-credit-card"></i>Payment</a></li>
        <li><a href=""><i class="fa-regular fa-handshake"></i>Customer</a></li>
        <li><a href=""><i class="fa-solid fa-code"></i>SFA</a></li>
        <li><a href=""><i class="fa-solid fa-scale-balanced"></i>Accounting</a></li>
    </ul>
</section>
</body>
</html>