<%- include('partials/h')  %> 
<h1>fast n serious</h1>
<form action="/sign" method="post" id="login" name="signup" >
    <input type="text" name="fullnme" placeholder="fullname">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button type="submit">Signup</button>
    <br>
    already have an account? <a href="/log">login</a>
    <br>
    <a href="/">back</a>
    <br>
    <a href="/forgot">forgot password</a>
</form>
</body>
</html>